{% extends "base.html" %}



{% block left %}
{% if name is defined %}
<li class="nav-item"><input type="text" id="name" class="form-control" value="{{name}}"></li>
{% else %}
<li class="nav-item"><input type="text" id="name" class="form-control" value="Untitled Drawing"></li>
{% endif %}
<div class="dropdown nav-item">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="filter-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filters
    </button>
    <div class="dropdown-menu" aria-labelledby="filter-dropdown">
        <button class="dropdown-item" type="button" id="grayscale">Grayscale</button>
        <button class="dropdown-item" type="button" id="invert">Invert</button>
        <button class="dropdown-item" type="button" id="sepia">Sepia</button>
    </div>
</div>
<li class="nav-item"><button type="button" class="btn btn-dark" id="local">Download</button></li>
<!-- <span class="navbar-text" id="download">Download</span> -->

{% if user is defined %}
<li class="nav-item"><button type="button" class="btn btn-dark" id="download">Save</button></li>
<li class="nav-item"><button type="button" class="btn btn-dark" id="saved">Saved Drawings</button></li>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block right %}
{% if user is defined %}
<li class="nav-item"><span class="navbar-text"><b>{{user}}</b></span></li>
<li class="nav-item"><button type="button" class="btn btn-dark" id="logout">Logout</button></li>
</ul>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block content %}
<div class="modal" id="overwrite" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Save</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="replace"></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirm" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

{% if data is defined %}
<img style="display: none" id="img" src={{data}}>
<p hidden id="background">{{background}}</p>
{% else %}
<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pick a Canvas Background</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" id="w" name="modColor" class="btn btn-primary" data-dismiss="modal">White</button>
                <button type="button" id="t" name="modColor" class="btn btn-primary" data-dismiss="modal">Transparent</button>
            </div>
        </div>
    </div>
</div>
<div id="color" style="display: none">{{mColor}}</div>
{% endif %}

<div class="wrapper">
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
            Tools
        </div> -->
        <div id="toolbar">
        </div>
    </nav>
    <div id="content">
      <canvas id="bkg"> </canvas>
      <div id="canvases">
        <canvas id="playground" tabindex="1"></canvas>
      </div>
    </div>
    <div id="color" style="display: none">{{mColor}}</div>
    <div id="options">
        <div id="color-picker">
            <canvas id="color-grad" width="256" height="192"></canvas>
            <br>
            <div class="color-text">
                Color: <span id="curr-color">■</span>
            </div>
        </div>
        <hr>
        <div class="option-container" id="brush-size">
            <!-- Brush Size: <span id="curr-brush-size">10</span>px<br> -->
            Brush Size: <input id="curr-brush-size" class="number-input" type="number" value="10" autocomplete="off"
                max="300"><br>
            <input autocomplete="off" type="range" min="1" max="300" value="10" class="slider" id="brush-slider"><br>
        </div>
        <hr>
        <div class="option-container" id="opacity">
            <!-- Opacity: <span id="curr-opacity">100</span>%<br> -->
            Opacity: <input id="curr-opacity" class="number-input" type="number" value="100" autocomplete="off"
                max="100"><br>
            <input autocomplete="off" type="range" min="1" max="100" value="100" class="slider" id="opacity-slider"><br>
        </div>
        <hr>
        <div class="option-container" id="fill">
            Fill: <input type="checkbox" id="fill-checkbox"><br> Rounded Corners: <input type="checkbox"
                id="corner-checkbox"><br>
        </div>
        <hr>
        <div class="option-container" id="layers">
            <h5><b>Layers</b></h5><br>
          <form id="layer-form">
	    <ul class="list-group">
	      <li class="list-group-item active-layer">
                <div class="layer-container d-flex flex-row justify-content-between">
                    <div value="0"> 1 </div>
                    <div> ▲ </div>
                    <div> ▼ </div>
                    <div> <img src="/static/icons/eye-solid.svg" width="24" height ="22"> </img> </div>
                    <div> X </div>
                </div>
	      </li>
	    </ul>
          </form>
	  <br>
          <button type="button" name="addlayer" id="addlayer"> Add a new layer </button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="/static/undo.js"></script>
<script src="/static/options/brushsize.js"></script>
<script src="/static/options/colorgradient.js"></script>
<script src="/static/options/opacity.js"></script>
<script src="/static/options/fill.js"></script>
<script src="/static/canvas.js"></script>
<script src="/static/cursors.js"></script>
<script src="/static/layers.js"></script>
<script src="/static/tools/tools.js"></script>
<script src="/static/tools/filters.js"></script>
<script src="/static/tools/paintbrush.js"></script>
<script src="/static/tools/pencil.js"></script>
<script src="/static/tools/eraser.js"></script>
<script src="/static/tools/smudge.js"></script>
<script src="/static/tools/eyedrop.js"></script>
<script src="/static/tools/fill.js"></script>
<script src="/static/tools/rect.js"></script>
<script src="/static/tools/ellipse.js"></script>
<script src="/static/navbar.js"></script>
<script src="/static/tools/crop.js"></script>
<script src="/static/tools/select.js"></script>


{% endblock %}
