#playground,
.cursor,
.helpercanvas {
    position: absolute;
}

#bkg {
    position: absolute;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

body {
    overflow-y: hidden;
}
#sidebar {
    width: 80px;
    background: #180c52;
    color: #fff;
}

#sidebar.active {
    margin-left: -250px;
}

/* #sidebar .sidebar-header {
  padding: 10px;
  background: #0c052e;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
} */

#content {
    height: 100vh;
    width: 100vw;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    background-color: lightgray;
}

#content canvas {
    display: inline;
    float: none;
}

#toolbar {
    align-items: center;
}

#toolbar button {
    padding-top: 20%;
    padding-bottom: 20%
}

.toolicon:hover {
    background: #c3c7e9;
}
/*
#color-grad {
    border: black solid 1px;
} */

.userInfo {
    width: 30%;
    margin: auto;
    padding-top: 10%;
}

.titleMsg {
    color: #856A5D;
    text-align: center;
    padding: 10px;
}

#account {
    color: #856A5D;
    width: 50%;
    margin: 5px;
}

#content canvas:hover {
    cursor: none;
}

#curr-color {
    font-size: 1.5em;
}


hr {
    border-radius: 1px;
    border: 1px solid #383350;
    width: 50%;
}

#color-picker {
    text-align: center;
}
#options {
    background: #5D5586;
    padding: 1%;
    font-weight: bolder;
    color: #e5e5e5;
}

.option-container {
    text-align: center;
}
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: .5em;
  border-radius: .5em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: rgb(230, 245, 230);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: rgb(191, 129, 216);
  cursor: pointer;
}

.number-input {
    color: white;
    background: transparent;
    border: 0;
    border-bottom: solid white 1px;
    width: 35px;
    text-align: center;
}



/* these remove the arrows next to a numbe inout field */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-group{
    color: black;
    max-height: 10em;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.active-layer{
    background-color: lightgrey;
}

.thumbnail *{
    display: table;
    margin: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-md-3 {
    padding:1em;
}