{% extends "base.html" %}



{% block left %}
    {% if user is defined %}
        <li class="nav-item"><a class="nav-link" href="/saved">Saved Drawings</a></li>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block right %}
    {% if user is defined %}
            <li class="nav-item">
                <span class="navbar-text"><b>{{user}}</b></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a></li>
            </li>
        </ul>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
            Tools
        </div> -->
	<div id="toolbar">
	</div>
    </nav>
    <div id="content">
        <img id="checker" draggable="false" width="1280" height="720" src="/static/imgs/grey_checker.svg"></img>
        <canvas id="playground" tabindex="1"></canvas>
        {% if data is defined %}
            <img style="display: none" id="img" src={{data}}>
        {% endif %}
    </div>
    <div id="options">
        <div id="color-picker">
            <canvas id="color-grad" width="256" height="192"></canvas>
            <br>
            <div class="color-text">
                Color: <span id="curr-color">■</span>
            </div>
        </div>
        <hr>
        <div class="option-container" id="brush-size">
            <!-- Brush Size: <span id="curr-brush-size">10</span>px<br> -->
            Brush Size (test): <input id="curr-brush-size" class="number-input" type="number" value="10" autocomplete="off" max="300"><br>
            <input autocomplete="off" type="range" min="1" max="300" value="10" class="slider" id="brush-slider"><br>
        </div>
        <hr>
        <div class="option-container" id="opacity">
            <!-- Opacity: <span id="curr-opacity">100</span>%<br> -->
            Opacity: <input id="curr-opacity" class="number-input" type="number" value="100" autocomplete="off" max="100"><br>
            <input autocomplete="off" type="range" min="1" max="100" value="100" class="slider" id="opacity-slider"><br>
        </div>
        <hr>
        <div class="option-container" id="fill">
            Fill: <input type="checkbox" id="fill-checkbox"><br>
            <br>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="/static/options/brushsize.js"></script>
<script src="/static/options/colorgradient.js"></script>
<script src="/static/options/opacity.js"></script>
<script src="/static/options/fill.js"></script>
<script src="/static/canvas.js"></script>
<script src="/static/cursors.js"></script>
<script src="/static/tools/tools.js"></script>
<script src="/static/tools/paintbrush.js"></script>
<script src="/static/tools/pencil.js"></script>
<script src="/static/tools/eraser.js"></script>
<script src="/static/tools/eyedrop.js"></script>
<script src="/static/tools/fill.js"></script>
<script src="/static/tools/smudge.js"></script>
<script src="/static/tools/rect.js"></script>
<script src="/static/tools/ellipse.js"></script>

{% endblock %}
