{% extends "base.html" %}


{% if user is defined %}
    {% block logged %}
    {% endblock %}

    {% block user %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <span class="navbar-text">{{user}}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a></li>
        </li>
    </ul>
    {% endblock %}
{% endif %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <!-- <div class="sidebar-header">
            Tools
        </div> -->
	<div id="toolbar">
	</div>
    </nav>
    <div id="content">
        <img id="checker" draggable="false" width="1280" height="720" src="/static/imgs/grey_checker.svg"></img>
        <canvas id="playground" tabindex="1">
        </canvas>
    </div>
    <div id="color-picker">
        <canvas id="color-grad" width="256" height="192">
    
        </canvas>
        <br>
        current color = <span id="curr-color"></span>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/canvas.js"></script>
<script src="/static/tools/tools.js"></script>
<script src="/static/tools/paintbrush.js"></script>
<script src="/static/tools/pencil.js"></script>
<script src="/static/tools/eraser.js"></script>
<script src="/static/colorpick.js"></script>


{% endblock %}
