{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3> Tools </h3>
        </div>
    </nav>
    <div id="content">
        <canvas id="playground" tabindex="1">
        </canvas>
    </div>
</div>

<div id="color-picker">
    <canvas id="color-grad" width="256" height="256">

    </canvas>
    current color = <span id="curr-color"></span>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/tools/tools.js"></script>
<script src="/static/tools/pencil.js"></script>
<script src="/static/tools/eraser.js"></script>
<script src="/static/text.js"></script>
<script src="/static/colorpick.js"></script>


{% endblock %}
