{% extends 'auth.html' %}

{% block title %}
<title> Register Page </title>
{% endblock %}



{% block heading %}

<div class="container">
          <div class="col-md-12">
          </div>
          <!-- <img src="/static/logo.png" alt="logo" width="230"> -->

<p style="color: Black"> Register!</p>
{% endblock %}

{% block action %}
<form action="/added" method = "POST">
{% endblock %}

{% block other %}
<div class="form">
  <input type="password" class="formBackground" name="confirmpassword" placeholder="confirm password">
</div>
{% endblock %}

{% block submit %}
Register
{% endblock %}

{% block text %}
<p style="color: black"> Already have an account? <a href="/login" style="color: blue"> LOGIN </a> </p>
{% endblock %}
